<footer class="footer">
    <div class="container">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="row">
                <div class="footer-col">
                    <p class="text_center">
                        <a href="{{ path('product') }}" class="text text_orange footer-text-caption">Продукция</a>
                    </p>
                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                        <ul>
                            {% for product_category in product_categories %}
                                {# нужно сгенерить роут на фильтр по категории #}
                                <li class="footer-menu-item"><a class="text text_white text-footer" href="#">{{ product_category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-8 col-xs-12">
            <div class="row">
                <div class="footer-col">
                    <p class="text_center">
                        <a href="{{ path('about') }}" class="text text_orange footer-text-caption">О компании</a>
                    </p>
                    <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                        {% if
                            company.data.working_time is defined and company.data.working_time and
                            company.data.working_days is defined and company.data.working_days
                        %}
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <p class="text text_white text-footer">{{ company.data.working_days }}</p>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <p class="text text_orange text-footer">{{ company.data.working_time }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if company.data.weekend is defined and company.data.weekend %}
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <p class="text text_white text-footer">выходной</p>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <p class="text text_orange text-footer">{{ company.data.weekend }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if company.phone %}
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <p class="text text_white text-footer">телефон</p>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <a href="tel:{{ company.phone }}" class="text text_orange text-footer">{{ company.phone }}</a>
                                </div>
                            </div>
                        {% endif %}
                        {% if company.email %}
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p class="text text_white text-footer">email</p>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p class="text text_orange text_center text-footer">{{ company.email }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if company.data.payment is defined and company.data.payment %}
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <a href="{{ path('about') }}" class="text text_white text_center text-footer"><i class="fa fa-credit-card"></i> Оплата</a>
                                </div>
                            </div>
                        {% endif %}
                        {% if company.data.delivery is defined and company.data.delivery %}
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <a href="{{ path('about') }}" class="text text_white text_center text-footer"><i class="fa fa-truck"></i> Доставка</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <a href ng-click="loadFooterMap('{{ path('layer', {'name': 'map'}) }}')" class="text text_white text_center text-footer"><i class="fa fa-map-marker"></i> на карте</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12" ng-cloak>
            <div class="footer-col">
                <div class="loader" ng-show="feedbackRequestSending"></div>
                <form
                    name="feedback"
                    novalidate
                    ng-show="!feedbackRequestSend && !feedbackRequestSending && !feedbackRequestSendError"
                >
                    <div class="row">
                        <div class="field-bottom-10">
                            <input
                                name="Name"
                                ng-model="userData.Name"
                                type="text"
                                class="field-text"
                                placeholder="ФИО"
                                required
                                backend
                            >
                            <div ng-if="feedback.Name.$invalid && feedback.Name.$dirty" ng-messages="feedback.Name.$error">
                                <p class="alert-error" ng-message="required">Введите ФИО</p>
                                <p class="alert-error" ng-message="backend">[[ feedback.Name.errorMessages.backend ]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field-bottom-10">
                            <input
                                name="Phone"
                                ng-model="userData.Phone"
                                type="text"
                                class="field-text"
                                required
                                backend
                                ui-mask="+7 999 999 99 99"
                            >
                            <div ng-if="feedback.Phone.$invalid && feedback.Phone.$dirty" ng-messages="feedback.Phone.$error">
                                <p class="alert-error" ng-message="required">Введите Телефон</p>
                                <p class="alert-error" ng-message="backend">[[ feedback.Phone.errorMessages.backend ]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field-bottom-10">
                            <input
                                name="Email"
                                ng-model="userData.Email"
                                type="email"
                                class="field-text"
                                placeholder="E-mail"
                                required
                                backend
                            >
                            <div ng-if="feedback.Email.$invalid && feedback.Email.$dirty" ng-messages="feedback.Email.$error">
                                <p class="alert-error" ng-message="required">Введите E-mail</p>
                                <p class="alert-error" ng-message="email">E-mail введен неверно</p>
                                <p class="alert-error" ng-message="backend">[[ feedback.Email.errorMessages.backend ]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field-bottom-10">
                            <textarea
                                name="Comment"
                                ng-model="userData.Data.Comment"
                                class="field-text-area"
                                placeholder="вопрос, предложение, жалоба..."
                            ></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field-bottom-10">
                            <div class="agree-checkbox">
                                <input
                                    id="agree"
                                    name="Agree"
                                    ng-model="userData.Agree"
                                    type="checkbox"
                                    required
                                    backend
                                >
                            </div>
                            <div class="agree-checkbox-label">
                                <label for="agree" class="agree">Даю согласие на обработку персональных данных</label>
                            </div>
                            <div ng-if="feedback.Agree.$invalid && feedback.Agree.$dirty" ng-messages="feedback.Agree.$error">
                                <p class="alert-error" ng-message="required">Необходимо согласиться с условиями</p>
                                <p class="alert-error" ng-message="backend">[[ feedback.Agree.errorMessages.backend ]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button
                            type="submit"
                            class="button button-footer"
                            ng-click="submitFeedback($event, feedback)"
                        >Отправить</button>
                    </div>
                </form>
                <div ng-show="feedbackRequestSend">
                    <p class="footer-feedback-result footer-feedback-result_success">
                        Уважаемый(ая) <span class="orange">[[ userData.Name ]]</span>, спасибо за заявку. <br>
                        Наши специалисты свяжутся с Вами в ближайшее время.
                    </p>
                </div>
                <div ng-show="feedbackRequestSendError">
                    <p class="footer-feedback-result footer-feedback-result_error">
                        Во время отправки заявки возникли ошибки.
                        Вы можете позвонить на номер <a href="tel:{{ company.phone }}">{{ company.phone }}</a>
                        {% if company.email %}или отправить письмо на адрес <span class="orange">{{ company.email }}</span>{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

{#лоадер и слой#}
<div class="load" ng-show="load"></div>
<div id="layer"></div>
